:root {
    --custom-green: #65CA8D;
    --custom-blue: #56AEFF;
    --custom-yellow: #FFE380;
    --custom-red: #FF5858;
    --custom-dark: #142E2C;
    --custom-gray: #D4D4D4;
  }

@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
     url(../fonts/Poppins-Regular.ttf) format("truetype");
}

* {
    font-family: 'Poppins';
}

.custom-bg-green{
    background-color: var(--custom-green);
}
.custom-bg-blue{
    background-color: var(--custom-blue);
}
.custom-bg-yellow{
    background-color: var(--custom-yellow);
}
.custom-bg-red{
    background-color: var(--custom-red);
}
.custom-bg-dark{
    background-color: var(--custom-dark);
}

.shoes-size-normal{
    border: 3px var(--custom-dark) solid;
}
.shoes-size-selected{
    border: 3px var(--custom-dark) solid;
    color: white;
    background-color: var(--custom-dark);
}
.shoes-size-disabled{
    border: 3px var(--custom-gray) solid;
    color: var(--custom-gray);
}

.custom-border-green{
    border: 10px solid var(--custom-green);
}
.custom-border-blue{
    border: 10px solid var(--custom-blue);
}
.custom-border-yellow{
    border: 10px solid var(--custom-yellow);
}
.custom-border-red{
    border: 10px solid var(--custom-red);
}