<!DOCTYPE html>
<html lang="en" class="md:h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugshoes</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
</head>
<body class="md:h-full">
    <div id="app" class="mx-5 md:mx-20 xl:mx-40 md:h-full md:items-center md:content-center md:flex">
        <div>
            <div class="md:flex">
                <div class="md:w-1/2 md:pr-10">
                    <img :src="shoesImageSrc" class="mt-16 mx-auto">
                </div>
                
                <div class="md:w-1/2 md:pl-10">
                    <div class="md:flex">
                        <h2 class="text-center font-semibold text-4xl mt-10 md:mt-0">{{product.title}}</h2>
                        
                        <div id="price" class="custom-bg-dark text-white font-semibold leading-8 w-min px-3 rounded-md mx-auto mt-2 md:mx-0 md:ml-4">120€</div> 
                    </div>
                    
                    <div id="colors" class="flex justify-between mt-10 md:justify-start">
                        <div v-for="item in colors"  @click="selectColor(item)"  :class="[inputSelected.color == item ? 'custom-border-'+item : 'custom-bg-'+item]" class="w-10 h-10 rounded-full md:mr-10"></div>
                        <!-- <div @click="selectColor('custom-blue')" class="custom-blue w-10 h-10 rounded-full md:mr-10"></div>
                            <div class="custom-yellow w-10 h-10 rounded-full md:mr-10"></div>
                            <div class="custom-red w-10 h-10 rounded-full md:mr-10"></div> -->
                        </div>
                        
                        <div class="flex flex-wrap justify-center mt-10 md:justify-start">
                            
                            
                            
                            <div v-for="item in sizes" :id="'size'+item" @click="selectSize(item)" :class="[inputSelected.size == item ? 'shoes-size-selected' : 'shoes-size-normal'] " class="shoes-size-normal rounded-md w-16 h-10 mt-2 mr-2 ml-2 font-bold text-center items-center h-full md:mr-5 md:mx-0">{{item}}</div>
                            
                            
                            <!-- <div class="shoes-size-normal border-black rounded-md w-16 h-10 mt-2 mr-2 ml-2 font-bold text-center items-center h-full md:mr-5 md:mx-0"><div class="">42</div></div> -->
                            <!-- <div class="shoes-size-selected border-black rounded-md w-16 h-10 mt-2 mr-2 ml-2 font-bold text-center items-center h-full md:mr-5 md:mx-0"><div class="">43</div></div> -->
                            <!-- <div class="shoes-size-normal border-black rounded-md w-16 h-10 mt-2 mr-2 ml-2 font-bold text-center items-center h-full md:mr-5 md:mx-0"><div class="">44</div></div> -->
                            <!-- <div class="shoes-size-disabled border-black rounded-md w-16 h-10 mt-2 mr-2 ml-2 font-bold text-center items-center h-full md:mr-5 md:mx-0"><div class="">45</div></div> -->
                            <!-- <div class="shoes-size-normal border-black rounded-md w-16 h-10 mt-2 mr-2 ml-2 font-bold text-center items-center h-full md:mr-5 md:mx-0"><div class="">46</div></div> -->
                        </div>
                        
                        <p class="text-sm mt-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida amet consectetur aliquet. 
                            Diam nulla potenti cursus aenean aliquet ipsum nec sit ultrices. Quis ultrices non quam orci, mattis non.
                        </p>
                    </div>
                </div>
                
                <div class="w-full mt-10 flex justify-center md:mt-20">
                    <button type="submit" class="custom-bg-green text-white text-center rounded-3xl h-14 w-full md:w-80">
                        Add to cart
                    </button>
                </div>
            </div> 
            
            
            
            
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const app = new Vue({
                el: '#app',
                data() {
                    return {
                        product: [],
                        sizes: [],
                        colors: [],
                        prices: [],
                        inputSelected: {'size': null, 'color': null},
                        shoesImageSrc: ""
                        
                    }
                },
                methods: {
                    selectColor(item){
                        this.inputSelected.color = item;
                        this.shoesImageSrc = "https://lugus-hiring.frb.io/storage/shoes-"+item+".png";
                        this.product.variants.forEach(el => {
                            if(el.color == item){
                                if(el.quantity < 1){
                                    document.getElementById("size"+el.size).classList.remove("shoes-size-normal");
                                    document.getElementById("size"+el.size).classList.add("shoes-size-disabled");
                                }
                            }
                        });
                        console.log(this.inputSelected);
                    },
                    selectSize(item){
                        this.inputSelected.size = item;
                        console.log(this.inputSelected);
                    }
                },
                beforeMount() {
                    axios.get("https://lugus-hiring.frb.io/product", {
                        method: "GET",
                        headers: {
                            Accept: "application/json",
                            'Content-Type': "application/json"
                        }
                    }).then(res => {
                        this.product = res.data.product;
                        this.product.variants.forEach(el => {
                            this.sizes.push(el.size)
                            this.colors.push(el.color)
                        });
                        //Supprime les tailles en doublon pour boucler le bon nombre de pointures, peut importe le produit.
                        this.sizes = [...new Set(this.sizes)];
                        this.colors = [...new Set(this.colors)];
                        this.shoesImageSrc = "https://lugus-hiring.frb.io/storage/shoes-"+this.colors[0]+".png";
                        this.inputSelected.color = this.colors[0];
                        
                    });
                },
                updated() {
                    console.log(this.product)
                    this.product.variants.forEach(el => {
                        if(el.color == this.colors[0]){
                            if(el.quantity < 1){
                                document.getElementById("size"+el.size).classList.remove("shoes-size-normal");
                                document.getElementById("size"+el.size).classList.add("shoes-size-disabled");
                            }
                        }
                    })
                }
            })
            
            
        </script>
    </body>
    </html>